body{
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color:rgb(160, 209, 160);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:rgb(0, 0, 0);;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(120, 209, 120);
}
.navbar li{
    float: left;
}
/* Post slider*/
.post-slider{
    position: relative;
}
.post-slider .slider-title{
    text-align: center;
}
.post-slider .next{
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    cursor: pointer;
}
.post-slider .prev{
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    cursor: pointer;
}
.post-slider .post-wrapper{
    width: 84%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    border: 1px rgb(0, 0, 0)
}
.post-slider .post-wrapper .post{
    width: 250px;
    height: 350px;
    margin: 0px 10px;
    display: inline-block;
    background: rgb(160, 209, 160);
}
.post-slider .post-wrapper .post:hover{
    background-color: rgb(120, 209, 120);
}
.post-slider .post-wrapper .post .slider-image{
    height: 65%;
}
/*Cos text*/
.cos{
    text-align: justify;
    text-justify: inter-word;
    padding-left: 20%;
    padding-right: 20%;
}
